.HomeItems{
    border-left: 7px solid green;;
}

.HomeItemOItem .Dimension1{
    margin-left: 30px;
}

.HomeItemOItem{
    border-left: 7px solid green;;
}

.HomeItemOItem a{
    margin-left: 30px;
    color: red;
    text-decoration: none;
}

.buttonRow{
   flex-direction: row-reverse;
}

#threeDots {
    height: 45px;
    width: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 11px;
    margin-right: 5px;
}


#EditButton {
    height: 45px;
    width: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 11px;
    margin-right: 5px;
}

.Content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
}