.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#sidebar .list-group-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
}

#sidebar .list-group-item.active {
    background-color: white;
    color: red;
}

#sidebar .list-group-item i {
    color: red;
    margin: 5px;
}

#sidebar {
    background-color: black;
    width: 85px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border: none;
}

#profile-bar .list-group-item {
    width: 200px;
    background-color: white;
    text-align: left;
    color: red;
    padding: 5px;
    border: none;
}

#profile-bar .list-group-item.active {
    background-color: white;
    color: black;
    border-left: 2px solid black;
   
}

#profile-bar {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}

.myRow{
    display: flex;
    flex-direction: row;
    padding-right: 35px;
}

.Heading{
   padding: 25px;
}

.Heading h2{
    font-size: 16px
}

.Heading i {
    color: red;
    padding-right: 15px;
}

#Content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
}

#Content #Contact {
    padding-top: 40px;
}

#Content #Contact a{
    color: red;
    text-decoration: none;
}

#Content #Biography{
    padding-top: 40px;
}

#Content #Links{
    padding-top: 40px;
}

#Content #Links a{
    color: red;
    text-decoration: none;
}


#Content #Name{
    padding-top: 20px;
}

#EditButton {
    height: 45px;
    width: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 11px;
    margin-right: 5px;
}

#threeDots {
    height: 45px;
    width: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 11px;
    margin-right: 5px;
}

#EditButton .fa-check-circle{
    color: green;
}

#Links{
    display: flex;
    flex-direction: row;
    padding-top: 0;
}

#Ebuttons{
    display: flex;
    flex-direction: row;
}

#Cancel-Editing{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 150px;
}

#Content .form-control{
    width: 50%;
}

#Content #Links .form-control{
    width:80%
}

#Links i{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70;   
    height: 130;
}


#TitleFlex{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

#section{
    font-size: x-large;
    font-weight:450;
}

.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }

#profileLink a{
color: red;
text-decoration: none;    
}

#separate{
    display: flex;
    flex-direction: column;

}

#separate #links{
    padding-top: 0;
}

#separate #section{
    padding-top: 40px
}

.breadcrumb-item.CourseTitle a{
    color:red;
    text-decoration: none;
}

#CourseHeading{
    margin-bottom: 1rem;
}

#buttonRow{
    display: flex;
    flex-direction: row-reverse;
}

#Week{
    font-weight: 600;
}

.float-end .fa-check-circle{
    color: green;
}

#Dimension1{
    font-weight: 600;
}

#HomeItems{
    border-left: 7px solid green;;
}

#HomeItemOItem #Dimension1{
    margin-left: 30px;
}

#HomeItemOItem{
    border-left: 7px solid green;;
}

#HomeItemOItem a{
    margin-left: 30px;
    color: red;
    text-decoration: none;
}

#Status{
    padding: 40px;
    display: flex;
    flex-direction: column;
    padding-right: 0 !important;
}

#StatusHead{
    font-weight: 500;
    font-size: 18;
    margin-top: 20px;
    white-space: nowrap;
}

#Status button{
    margin-bottom: 10px;
    text-align: left;
}

#toDo{
    color: red;
}

#toDo a{
    color: red;
    text-decoration: none;
}

#cal{
    margin-left: 10px;
}

#Coming{
    padding-top: 10px;
}

#cal2 a{
    color: red;
    text-decoration: none;
}

#toDoItem{
    padding-left: 10px;
    color: red;
}

#desc{
    padding-left: 30px;
    padding-bottom: 15px;
}

#secondMenu a div{
    color: red;
}

#secondMenu a i{
    color: red;
}

#secondMenu .list-group-item {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5px;
    border: none;
}

#fdiv{
    margin-bottom: 20px;
}