#sidebar .list-group .list-group-item {
    width: 85px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px;
}

#sidebar .list-group .list-group-item.active {
    background-color: white;
    color: red;
}

#sidebar .list-group .list-group-item i {
    color: red;
    margin: 5px;
}

#sidebar{
    background-color: black;
    width: 85px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

